.card-content-style{
  padding: 8px 16px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-content-style mat-form-field{
  width: 90%;

}
.form-field-button-panel{
  width: 90%;
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid var(--darkest);
}
