.navigator{
  background-color: var(--dark-level-1);
  padding: 2px 4px;
  border: 2px solid black;
}
.navigator-logo{

}
.logo{
  height: 48px;
}
.navigator-panel{
  display: flex;
  align-items: center;
  column-gap: 12px;
  flex-direction: row-reverse;
}
.navigator-panel button{
  border-radius: 2px;
}
