<div class="container navigator">
  <div class="row">
    <div class="col-2 navigator-logo">
      <img class="logo" src = "assets/png/133_logo.png" alt="133">
    </div>
    <div class="col-10 navigator-panel">
      <button mat-flat-button color="primary" [routerLink]="['car_list']">
        Cars
      </button>
      <button mat-flat-button color="primary" [routerLink]="['car_form']">
        New Car
      </button>
      <button mat-flat-button color="primary" [routerLink]="['home']" >
        Overview
      </button>

    </div>
  </div>
</div>
