/* https://coolors.co/134074-133968-13315c-0b2545-8da9c4-a6bccf-becfd9-eef4ed */

:root{
  --darkest: #0b2545;
  --dark-level-1: #134074;
  --dark-level-2: #133968;
  --dark-level-3: #13315c;
  --dark-level-4: #0b2545;

  --lightest: #eef4ed;
  --light-level-1: #becfd9;
  --light-level-2: #a6bccf;
  --light-level-3: #8da9c4;

}
mat-card{
  background-color: var(--light-level-2) !important;
}
html, body {
  height: 100%;
  background-color: var(--lightest);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: silver !important; }

.card-content-style{
  padding: 4px 2px 8px 2px !important;
}
.card-style{
  margin: 4px;
  box-shadow: 2px 2px 4px 0 var(--darkest);
}
.mat-mdc-card-title{
  padding-left: 4px;
}
.mat-mdc-card-subtitle{
  padding-left: 8px;
  border-bottom: 1px solid var(--darkest);
}
